*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

/* body{
    background:#f4f7fc;
} */

/* Dashboard */

.dashboard{
    width:100%;
    padding:40px;
}

/* Cards Container */

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

/* Card */

.card{
    background:#fff;
    padding:30px 20px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    transition:0.3s ease;
    cursor:pointer;
    border-left:6px solid #4f46e5;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,0.15);
}

.card h2{
    font-size:42px;
    color:#4f46e5;
    margin-bottom:12px;
    font-weight:700;
}

.card p{
    font-size:18px;
    color:#555;
    font-weight:500;
}

/* Different Colors */

.card:nth-child(1){
    border-left-color:#2563eb;
}

.card:nth-child(2){
    border-left-color:#10b981;
}

.card:nth-child(3){
    border-left-color:#f59e0b;
}

.card:nth-child(4){
    border-left-color:#ef4444;
}

.card:nth-child(1) h2{
    color:#2563eb;
}

.card:nth-child(2) h2{
    color:#10b981;
}

.card:nth-child(3) h2{
    color:#f59e0b;
}

.card:nth-child(4) h2{
    color:#ef4444;
}

/* Responsive */

@media(max-width:768px){

    .dashboard{
        padding:20px;
    }

    .card{
        padding:25px 15px;
    }

    .card h2{
        font-size:34px;
    }

    .card p{
        font-size:16px;
    }
}