.company-page{
    width:100%;
    padding:30px;
}

.company-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.company-title{
    color:#1e3a8a;
    font-size:34px;
}

.company-subtitle{
    color:#666;
    margin-top:6px;
}

.add-company-btn{
    padding:12px 22px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.add-company-btn:hover{
    background:#1d4ed8;
}

.company-table-container{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.company-table{
    width:100%;
    border-collapse:collapse;
}

.company-table th{
    background:#2563eb;
    color:white;
    padding:15px;
}

.company-table td{
    padding:14px;
    border-bottom:1px solid #ddd;
    text-align:center;
}

.company-table tr:hover{
    background:#f5f8ff;
}

.view-btn{
    background:#10b981;
    color:white;
    padding:8px 15px;
    border-radius:6px;
    text-decoration:none;
}

.registration-page{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#f4f7fc;
}

.registration-card{
    width:450px;
    background:white;
    padding:35px;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0,0,0,.1);

    display:flex;
    flex-direction:column;
    gap:18px;
}

.registration-card h1{
    color:#1e3a8a;
    text-align:center;
}

.registration-card input{
    padding:14px;
    border:1px solid #ccc;
    border-radius:8px;
}

.registration-card button{
    padding:14px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.registration-card button:hover{
    background:#1d4ed8;
}

.company-details{
    padding:40px;
}